.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/sonarlint-state.xml
.idea/sonarlint.xml
.idea/symfony2.xml
.idea/symfony_3.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/2/3/239977260ea4d90f0fe51028575b71137031b58d
.idea/sonarlint/issuestore/3/2/32f52550acb5074923c0619d4deb7829721136e0
.idea/sonarlint/issuestore/3/c/3c5ba2d7fa7715ed614632531b980addce7e8120
.idea/sonarlint/issuestore/f/0/f08c88e0774809520557b7034b62fb848e1f0aec
